basePath: /
definitions:
  domain.Account:
    properties:
      balance:
        type: number
      id:
        type: integer
      number:
        type: string
    type: object
  domain.Transaction:
    properties:
      amount:
        type: number
      credit_account_id:
        type: integer
      debit_account_id:
        type: integer
    type: object
host: localhost:8080
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: Бухгалтерское ядро банка на Go
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: http://swagger.io/terms/
  title: Accounting Core API
  version: "1.0"
paths:
  /accounts:
    get:
      consumes:
      - application/json
      description: Get list of all bank accounts
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/domain.Account'
            type: array
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Get all accounts
      tags:
      - accounts
  /transfer:
    post:
      consumes:
      - application/json
      description: Make a money transfer from one account to another
      parameters:
      - description: Transfer data
        in: body
        name: transaction
        required: true
        schema:
          $ref: '#/definitions/domain.Transaction'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Transfer money between accounts
      tags:
      - transactions
swagger: "2.0"
